footer {
	width: 100%;
	padding: 50px 0;
	background: $footerBkgColor;
	color: $footerColor;
	
	h1, h2, h3, h4, h5, h6 {
		color: $footerHeadingsColor;
		margin: 0 0 15px 0;
	}

	h2 {
		font-size: 18px;
	}

	ul {
		list-style-type: none;
	}

	a {
		text-decoration: none;
		color: $footerColorLinks;

		&:hover {
			text-decoration: underline;
			color: $footerHoverColorLinks;
		}
	}

	.social {
		float: left;
		
		ul {
			list-style-type: none;
			padding: 0px;

			li {
				margin-right: 10px;
				float: left;

				a {
					color: $footerSocialColor;

					&:hover {
						color: $footerSocialHoverColor;
					}
				}
			}
		}
	}

	.copyright {
		margin-top: 25px;
		font-size: 12px;
	}
}