/*********************** COLOR VARIABLES ***********************/
$primaryColor: #1b75bb;
$secondaryColor: #58585b;


/*********************** PAGE COLOR VARIABLES ***********************/
$pageLinks: #1b75bb;
$pageLinksActiveFocus: #1b75bb;
$pageLinksActiveFocusBackground: transparent;
$headingColor: #808284;

/*********************** HEADER COLOR VARIABLES ***********************/

$headerTopbarBkgColor: #1b75bb;
$headerTopbarColor: whitesmoke;
$headerToplinksLinksColor: whitesmoke;
$headerToplinksLinksHoverColor: #3ECD8E;
$headerPrimaryLinksBkgHover: #3ECD8E;
$headerSocialColor: whitesmoke;
$headerSocialHoverColor: #3ECD8E;

$headerPrimaryNavColor: #fff;
$headerPrimaryBkgColor: #1b75bb;
$headerPrimaryLinksColor: #fff;
$headerPrimaryLinksHoverColor: #fff;

$submenuBkgColor: rgba(0, 0, 0, 0.8);
$submenuLinksColor: #fff;
$submenuLinksBkgColor: transparent;
$submenuLinksHoverColor: #fff;
$submenuLinksHoverBkgColor: #1b75bb;

$toggleNavBkg: transparent;
$toggleNavIconColor: #fff;

/*********************** FOOTER COLOR VARIABLES ***********************/
$footerBkgColor: #58585b;
$footerColor: #fff;
$footerHeadingsColor: #fff;
$footerColorLinks: #fff;
$footerHoverColorLinks: #1b75bb;
$footerSocialColor: whitesmoke;
$footerSocialHoverColor: #3ECD8E;


$btnColor: #1b75bb;
$btnBkgColor: #fff;
$btnHoverColor: #fff;
$btnHoverBkgColor: #1b75bb;
$btnBorderColor: #1b75bb;

/*********************** PRIMARY FONTS ***********************/
$primaryFont: 'Roboto', sans-serif;
$headingsFont: 'Roboto', sans-serif;