/* line 1, styles.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 21, styles.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/**************************************GENERAL************************************/
/*********************** COLOR VARIABLES ***********************/
/*********************** PAGE COLOR VARIABLES ***********************/
/*********************** HEADER COLOR VARIABLES ***********************/
/*********************** FOOTER COLOR VARIABLES ***********************/
/*********************** PRIMARY FONTS ***********************/
/* line 29, styles.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #000;
  background: #fff;
  overflow-x: hidden;
}

/* line 37, styles.scss */
blockquote, q {
  quotes: none;
}

/* line 40, styles.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, styles.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 49, styles.scss */
::selection {
  background: #1b75bb;
  /* Safari */
  color: #fff;
}

/* line 53, styles.scss */
::-moz-selection {
  background: #1b75bb;
  /* Firefox */
  color: #fff;
}

/* line 57, styles.scss */
.container {
  position: relative;
}

/* line 60, styles.scss */
.row {
  margin: 0px;
}

/* line 63, styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #808284;
  display: block;
  text-transform: uppercase;
  margin: 15px 0;
}

/* line 71, styles.scss */
h1 {
  font-size: 30px;
  font-weight: 400;
  display: block;
  margin-bottom: 20px;
}

/* line 77, styles.scss */
h2 {
  font-size: 24px;
}

/* line 80, styles.scss */
h3 {
  font-size: 22px;
}

/* line 83, styles.scss */
h4 {
  font-size: 20px;
}

/* line 86, styles.scss */
h5 {
  font-size: 18px;
}

/* line 89, styles.scss */
h6 {
  font-size: 16px;
}

/* line 92, styles.scss */
b, strong {
  font-weight: 600;
}

/* line 95, styles.scss */
img.alignright {
  padding: 4px;
  margin: 0 0 2px 7px;
  display: inline;
}

/* line 100, styles.scss */
img.alignleft {
  padding: 4px;
  margin: 0 7px 2px 0;
  display: inline;
}

/* line 105, styles.scss */
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 110, styles.scss */
.alignright {
  float: right;
}

/* line 113, styles.scss */
.alignleft {
  float: left;
}

/* line 116, styles.scss */
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 121, styles.scss */
a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 127, styles.scss */
a, a:hover {
  color: #1b75bb;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-decoration: underline;
}

/* line 133, styles.scss */
a:focus,
a:active {
  color: #1b75bb;
  background: transparent;
}

/* line 138, styles.scss */
p {
  margin: 0 0 20px;
}

/* line 141, styles.scss */
.table {
  display: table;
  /* Allow the centering to work */
  margin: 0 auto;
  width: auto;
}

/* line 146, styles.scss */
table.table {
  margin: 0 !important;
}

/* line 149, styles.scss */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 154, styles.scss */
sup {
  font-size: 60%;
}

/* line 157, styles.scss */
em {
  font-style: italic;
}

/* line 160, styles.scss */
.button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #1b75bb;
  background-color: white;
  padding: 3px 12px;
  text-decoration: none;
  border: 1px solid #1b75bb;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 174, styles.scss */
.button:hover {
  color: white;
  background-color: #1b75bb;
}

/* line 179, styles.scss */
.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

/* line 185, styles.scss */
.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Image style */
/* line 193, styles.scss */
#scrollUp {
  background: url("../images/top.png");
  bottom: 20px;
  right: 20px;
  width: 38px;
  /* Width of image */
  height: 38px;
  /* Height of image */
}

/**************************************IMPORTS************************************/
/* line 1, _page.scss */
.page-content {
  padding: 50px 0px 50px;
  min-height: 500px;
}
/* line 5, _page.scss */
.page-content ul {
  padding-left: 30px;
  margin-bottom: 15px;
}

/* line 1, _forms.scss */
input, select {
  height: 30px;
  line-height: inherit;
  padding: 0 18px;
  width: 100%;
  max-width: 500px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

/* line 12, _forms.scss */
textarea {
  line-height: inherit;
  padding: 10px 18px;
  width: 100%;
  max-width: 500px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

/* line 22, _forms.scss */
input[type="submit"] {
  width: auto;
  height: 30px;
  line-height: inherit;
  padding: 8px 24px;
  border-radius: 2px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 40, _forms.scss */
input[type="submit"]:hover {
  width: auto;
  background-color: #000;
  color: #fff;
  height: 30px;
  line-height: inherit;
  padding: 8px 24px;
  border-radius: 2px;
  border: none;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 61, _forms.scss */
input[type="file"] {
  display: block;
  width: auto;
  border: 0px;
  line-height: 16px;
}

/* line 67, _forms.scss */
input[type="checkbox"], input[type="radio"] {
  width: 14px;
  height: 15px;
  float: left;
  margin-right: 10px;
}

/* line 73, _forms.scss */
select {
  background: white;
}

/* line 76, _forms.scss */
input#state {
  width: 60%;
  margin-right: 2%;
  float: left;
  margin-bottom: 25px;
}

/* line 1, _default.scss */
.navbar-nav {
  margin: 0;
}

/* one page checkout */
/* line 3, _default.scss */
#checkoutSteps {
  list-style-type: none;
}
/* line 6, _default.scss */
#checkoutSteps .validation-advice {
  color: #1b75bb;
  margin-bottom: 10px;
}
/* line 10, _default.scss */
#checkoutSteps .split-input {
  width: 48%;
  max-width: 244px;
  margin-right: 2%;
  float: left;
}
/* line 16, _default.scss */
#checkoutSteps .split-input:nth-child(2) {
  margin-left: 2%;
  margin-right: 0%;
}
/* line 21, _default.scss */
#checkoutSteps .input-box {
  max-width: 500px;
  margin-bottom: 10px;
}
/* line 26, _default.scss */
#checkoutSteps a {
  text-decoration: none;
}
/* line 29, _default.scss */
#checkoutSteps a:hover {
  text-decoration: underline;
}
/* line 34, _default.scss */
#checkoutSteps li {
  background: #F9F9F9;
}
/* line 37, _default.scss */
#checkoutSteps li .step-title {
  background: #1b75bb;
  display: table;
  width: 100%;
}
/* line 42, _default.scss */
#checkoutSteps li .step-title .number {
  float: left;
  padding: 19px;
}
/* line 46, _default.scss */
#checkoutSteps li .step-title h2 {
  float: left;
  color: #fff;
}
/* line 50, _default.scss */
#checkoutSteps li .step-title a {
  float: right;
  margin: 14px;
  text-decoration: none;
  background: #1b75bb;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 59, _default.scss */
#checkoutSteps li .step-title a:hover {
  background: #1b75bb;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 68, _default.scss */
#checkoutSteps li .step {
  padding: 10px 20px;
}
/* line 72, _default.scss */
#checkoutSteps li ul {
  padding-left: 0px !important;
}
/* line 76, _default.scss */
#checkoutSteps li .form-list {
  list-style-type: none;
}
/* line 81, _default.scss */
#checkoutSteps ul {
  list-style-type: none;
}
/* line 84, _default.scss */
#checkoutSteps ul li ul {
  list-style-type: none;
}
/* line 87, _default.scss */
#checkoutSteps ul li ul input,
#checkoutSteps ul li ul select {
  margin-bottom: 15px;
}

/* line 97, _default.scss */
#checkout-progress-wrapper {
  background-color: whitesmoke;
  margin-top: 74px;
}
/* line 101, _default.scss */
#checkout-progress-wrapper dd {
  margin-bottom: 10px;
}
/* line 105, _default.scss */
#checkout-progress-wrapper .block-title {
  background: #1b75bb;
  padding: 16px 10px;
}
/* line 109, _default.scss */
#checkout-progress-wrapper .block-title strong span {
  font-size: 22px;
}
/* line 113, _default.scss */
#checkout-progress-wrapper .block-content {
  padding: 10px;
}

/* shopping cart page */
/* line 120, _default.scss */
.cart ul {
  list-style-type: none;
  padding-left: 0px !important;
}
/* line 124, _default.scss */
.cart ul li ul {
  list-style-type: none;
  padding-left: 0px !important;
}
/* line 130, _default.scss */
.cart a {
  text-decoration: none;
}
/* line 133, _default.scss */
.cart a:hover {
  text-decoration: underline;
}
/* line 138, _default.scss */
.cart .item-options dt {
  float: left;
}
/* line 143, _default.scss */
.cart .product-cart-info .product-name a {
  font-size: 24px;
  text-decoration: none;
}
/* line 147, _default.scss */
.cart .product-cart-info p {
  margin-bottom: 5px;
}
/* line 152, _default.scss */
.cart .product-cart-actions input[type="text"] {
  padding: 10px;
  width: 42px;
  text-align: center;
  float: left;
  margin-right: 10px;
}
/* line 160, _default.scss */
.cart .product-cart-price {
  clear: both;
  display: block;
  padding-bottom: 10px;
  color: #1b75bb;
}
/* line 166, _default.scss */
.cart .product-cart-remove {
  float: right;
}

/* line 171, _default.scss */
.checkout-menu-right {
  background: whitesmoke;
  margin-top: 15px;
}
/* line 176, _default.scss */
.checkout-menu-right .discount-form input {
  max-width: 200px;
}
/* line 180, _default.scss */
.checkout-menu-right .discount-form .input-box {
  margin-bottom: 10px;
}
/* line 185, _default.scss */
.checkout-menu-right .checkout-types {
  list-style-type: none;
  padding-left: 0px;
}
/* line 189, _default.scss */
.checkout-menu-right .checkout-types button {
  margin-bottom: 10px;
}
/* line 194, _default.scss */
.checkout-menu-right table {
  margin: 10px 0;
}

/* line 199, _default.scss */
#shopping-cart-table {
  padding: 15px;
  margin-left: -15px;
  display: table;
  width: 100%;
}
/* line 205, _default.scss */
#shopping-cart-table .cart-table-wrapper {
  background: whitesmoke;
  padding: 15px;
  margin-bottom: 25px;
  display: table;
  width: 100%;
}

/* customer login page */
/* line 216, _default.scss */
.account-login .form-list {
  list-style-type: none;
  padding-left: 0px !important;
}
/* line 220, _default.scss */
.account-login a {
  text-decoration: none;
}
/* line 222, _default.scss */
.account-login a:hover {
  text-decoration: underline;
}

/* line 229, _default.scss */
.account-create .form-list {
  list-style-type: none;
  padding-left: 0px !important;
}
/* line 233, _default.scss */
.account-create .form-list .input-box {
  margin-bottom: 10px;
}
/* line 237, _default.scss */
.account-create a {
  text-decoration: none;
}
/* line 239, _default.scss */
.account-create a:hover {
  text-decoration: underline;
}

/* line 245, _default.scss */
.messages {
  padding: 0px !important;
  list-style-type: none;
}
/* line 249, _default.scss */
.messages ul {
  margin: 0px !important;
  padding: 0px !important;
  list-style-type: none;
}
/* line 255, _default.scss */
.messages .success-msg {
  color: #3c763d;
  background-color: #dff0d8;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  font-weight: 400;
  list-style-type: none;
}
/* line 266, _default.scss */
.messages .error-msg {
  color: #a94442;
  background-color: #f2dede;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  font-weight: 400;
  list-style-type: none;
  list-style-type: none;
}

/* line 279, _default.scss */
.note-msg,
.notice-msg {
  color: #8a6d3b;
  background-color: #fcf8e3;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #faebcc;
  border-radius: 4px;
  width: 100%;
  margin: 15px 0;
}

/* line 291, _default.scss */
.label {
  display: inline;
  padding: 0;
  font-size: 100%;
  font-weight: 700;
  line-height: 1.4;
  float: left;
  margin-right: 5px;
  text-align: left;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}

/* newsletter */
/* line 307, _default.scss */
.block-subscribe .input-box {
  float: left;
}
/* line 310, _default.scss */
.block-subscribe .input-box input[type="text"] {
  width: 100%;
  max-width: 300px;
  font-style: italic;
  margin-bottom: 10px;
}
/* line 317, _default.scss */
.block-subscribe .actions {
  float: left;
}

/* pager */
/* line 323, _default.scss */
.pager li a {
  text-decoration: none;
}

/* line 327, _default.scss */
.pager li.current {
  padding: 0 14px;
}

/* line 331, _default.scss */
.pager li > a, .pager li > span {
  border-radius: 0;
}

/* line 335, _default.scss */
.pager li > a, .pager li > span {
  border: 0;
}

/* line 339, _default.scss */
.pager li > a:hover, .pager li > a:focus {
  background-color: #1b75bb;
  color: #fff;
}

/* line 344, _default.scss */
.pager li > a.next,
.page li > a.previous {
  background-color: transparent;
}

/* toolbar */
/* line 350, _default.scss */
.toolbar {
  font-size: 13px;
  padding: 15px 0 15px;
}
/* line 354, _default.scss */
.toolbar .pager {
  margin: 0 0 5px 0;
}
/* line 357, _default.scss */
.toolbar .pager .amount {
  text-align: left;
}
/* line 361, _default.scss */
.toolbar .pager .limiter {
  text-align: right;
}
/* line 364, _default.scss */
.toolbar .pager .limiter label {
  margin-right: 5px;
}
/* line 367, _default.scss */
.toolbar .pager .limiter select {
  width: auto;
  margin-right: 5px;
}
/* line 373, _default.scss */
.toolbar .view-bkg {
  background: #f9f9f9;
  padding: 5px 0;
}
/* line 378, _default.scss */
.toolbar .sorter .sort-by {
  text-align: right;
}
/* line 381, _default.scss */
.toolbar .sorter .sort-by select {
  width: auto;
}

/* breadcrumbs */
/* line 389, _default.scss */
.breadcrumbs {
  display: table;
  margin-bottom: 20px;
  font-size: 13px;
}
/* line 394, _default.scss */
.breadcrumbs ul {
  list-style-type: none;
  padding-left: 0px;
}
/* line 398, _default.scss */
.breadcrumbs ul li {
  float: left;
  margin-right: 15px;
}
/* line 402, _default.scss */
.breadcrumbs ul li a {
  color: #5a5a5c;
  text-decoration: none;
  font-size: 13px;
}
/* line 407, _default.scss */
.breadcrumbs ul li a:hover {
  color: #1b75bb;
}
/* line 412, _default.scss */
.breadcrumbs ul li:after {
  content: ">";
  display: block;
  float: right;
  margin-left: 10px;
}
/* line 420, _default.scss */
.breadcrumbs ul li:nth-last-child(1):after {
  content: "";
}

/* line 1, _header.scss */
header {
  width: 100%;
}
/* line 4, _header.scss */
header #topbar {
  background: #1b75bb;
  color: whitesmoke;
  background-repeat: repeat;
  padding: 10px 0;
}
/* line 10, _header.scss */
header #topbar a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 16px;
}
/* line 15, _header.scss */
header #topbar a:hover {
  color: #3ecd8e;
  text-decoration: none;
}
/* line 21, _header.scss */
header #topbar .social-container {
  float: left;
}
/* line 23, _header.scss */
header #topbar .social-container ul {
  list-style-type: none;
  padding: 0px;
}
/* line 27, _header.scss */
header #topbar .social-container ul li {
  margin-right: 10px;
  float: left;
}
/* line 31, _header.scss */
header #topbar .social-container ul li a {
  color: whitesmoke;
}
/* line 34, _header.scss */
header #topbar .social-container ul li a:hover {
  color: #3ecd8e;
}
/* line 43, _header.scss */
header .topLinks {
  float: right;
}
/* line 46, _header.scss */
header .topLinks .links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 51, _header.scss */
header .topLinks .links li {
  float: left;
  margin-left: 15px;
}
/* line 58, _header.scss */
header .header-container {
  padding: 20px 0;
}
/* line 61, _header.scss */
header .header-container .header-logo {
  float: left;
}
/* line 65, _header.scss */
header .header-container .main-search-container {
  float: right;
  width: 240px;
}
/* line 69, _header.scss */
header .header-container .main-search-container input[type="text"] {
  max-width: 200px;
  float: left;
}
/* line 74, _header.scss */
header .header-container .main-search-container .button {
  border: 1px solid #ccc;
  border-radius: 0px;
  padding: 3px 12px;
  margin-left: -1px;
}
/* line 82, _header.scss */
header .header-container .nav-container {
  clear: both;
  padding-top: 20px;
}
/* line 86, _header.scss */
header .header-container .nav-container nav {
  background-color: #1b75bb;
}
/* line 89, _header.scss */
header .header-container .nav-container nav li {
  float: left;
}
/* line 92, _header.scss */
header .header-container .nav-container nav li a {
  color: white;
  background: transparent;
  text-decoration: none;
}
/* line 97, _header.scss */
header .header-container .nav-container nav li a:hover {
  color: white;
  background: #3ecd8e;
}
/* line 103, _header.scss */
header .header-container .nav-container nav li .sub-menu {
  display: none;
}
/* line 107, _header.scss */
header .header-container .nav-container nav li:hover .sub-menu {
  display: block;
  position: absolute;
  top: 42px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  border-radius: 0px;
  z-index: 10000;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
/* line 125, _header.scss */
header .header-container .nav-container nav li:hover .sub-menu li {
  width: 100%;
  background-color: transparent;
  padding: 0px;
  margin: 0;
}
/* line 131, _header.scss */
header .header-container .nav-container nav li:hover .sub-menu li a {
  background-color: transparent;
  color: white;
  white-space: nowrap;
  display: block;
  padding: 10px;
  text-decoration: none;
}
/* line 139, _header.scss */
header .header-container .nav-container nav li:hover .sub-menu li a:hover {
  background-color: #1b75bb;
  color: white;
  text-decoration: none;
}
/* line 147, _header.scss */
header .header-container .nav-container nav li:hover .sub-menu .active > a {
  background-color: transparent;
}

/* line 158, _header.scss */
.navbar-toggle {
  background-color: transparent;
  margin-right: 0px;
}
/* line 162, _header.scss */
.navbar-toggle .icon-bar {
  background-color: white;
}

/* line 166, _header.scss */
.navbar-collapse {
  max-height: none;
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

/* line 2, _homepage.scss */
.cms-index-index .home-page-content {
  padding: 50px 0;
}
/* line 6, _homepage.scss */
.cms-index-index .home-slider {
  width: 100%;
}

/* line 2, _product.scss */
.product-view .price-box {
  font-size: 22px;
  font-weight: 600;
  color: #1b75bb;
  margin-bottom: 20px;
}
/* line 10, _product.scss */
.product-view .add-to-box input[type="text"] {
  width: 45px;
  padding: 0px;
  text-align: center;
  margin-bottom: 15px;
}
/* line 16, _product.scss */
.product-view .add-to-box .add-to-cart {
  margin-bottom: 15px;
}
/* line 19, _product.scss */
.product-view .add-to-box .add-to-cart button {
  display: block;
  margin-bottom: 15px;
}
/* line 24, _product.scss */
.product-view .add-to-box .add-to-links {
  list-style-type: none;
  padding-left: 0px;
}
/* line 28, _product.scss */
.product-view .add-to-box .add-to-links a {
  text-decoration: none;
}
/* line 31, _product.scss */
.product-view .add-to-box .add-to-links a:hover {
  text-decoration: underline;
}

/* line 40, _product.scss */
.nav-tabs {
  padding: 0px !important;
  margin-bottom: 0px !important;
}
/* line 46, _product.scss */
.nav-tabs li:hover {
  cursor: pointer;
}
/* line 50, _product.scss */
.nav-tabs li a {
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  background: #ddd;
  color: #555;
}
/* line 57, _product.scss */
.nav-tabs li a:hover {
  background: #1b75bb;
  color: #fff;
}

/* line 65, _product.scss */
.tabs-content {
  padding: 15px;
  min-height: 300px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/*
 * jQuery FlexSlider v2.5.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url("../fonts/flexslider-icon.eot");
  src: url("../fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/flexslider-icon.woff") format("woff"), url("../fonts/flexslider-icon.ttf") format("truetype"), url("../fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
/* line 25, flexslider.scss */
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
  outline: none;
}

/* line 31, flexslider.scss */
.flexslider .slides {
  padding-left: 0;
}

/* line 34, flexslider.scss */
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 42, flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
/* line 48, flexslider.scss */
.flexslider {
  margin: 0;
  padding: 0;
}

/* line 52, flexslider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* line 56, flexslider.scss */
.flexslider .slides img {
  width: 100%;
  display: block;
}

/* line 60, flexslider.scss */
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 68, flexslider.scss */
html[xmlns] .flexslider .slides {
  display: block;
}

/* line 71, flexslider.scss */
* html .flexslider .slides {
  height: 1%;
}

/* line 74, flexslider.scss */
.no-js .flexslider .slides > li:first-child {
  display: block;
}

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
/* line 80, flexslider.scss */
.flexslider {
  margin: 0 0 60px;
  background: #ffffff;
  border: 4px solid #ffffff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
}

/* line 94, flexslider.scss */
.flexslider .slides {
  zoom: 1;
}

/* line 97, flexslider.scss */
.flexslider .slides img {
  height: auto;
}

/* line 100, flexslider.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 108, flexslider.scss */
.loading .flex-viewport {
  max-height: 300px;
}

/* line 111, flexslider.scss */
.carousel li {
  margin-right: 5px;
}

/* line 114, flexslider.scss */
.flex-direction-nav {
  *height: 0;
}

/* line 117, flexslider.scss */
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 40%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 137, flexslider.scss */
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

/* line 145, flexslider.scss */
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}

/* line 148, flexslider.scss */
.flex-direction-nav .flex-prev {
  left: -50px;
}

/* line 151, flexslider.scss */
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}

/* line 155, flexslider.scss */
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}

/* line 159, flexslider.scss */
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}

/* line 162, flexslider.scss */
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}

/* line 166, flexslider.scss */
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}

/* line 169, flexslider.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

/* line 174, flexslider.scss */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

/* line 187, flexslider.scss */
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}

/* line 193, flexslider.scss */
.flex-pauseplay a:hover {
  opacity: 1;
}

/* line 196, flexslider.scss */
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}

/* line 199, flexslider.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

/* line 205, flexslider.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 211, flexslider.scss */
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* line 227, flexslider.scss */
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

/* line 231, flexslider.scss */
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

/* line 236, flexslider.scss */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

/* line 241, flexslider.scss */
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

/* line 246, flexslider.scss */
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 258, flexslider.scss */
.flex-control-thumbs img:hover {
  opacity: 1;
}

/* line 261, flexslider.scss */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  /* line 269, flexslider.scss */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }

  /* line 273, flexslider.scss */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
/* line 1, _category.scss */
.catalog-listing {
  text-align: center;
  padding-bottom: 25px;
}
/* line 7, _category.scss */
.catalog-listing .listing-item .product-image {
  padding-bottom: 40px;
}
/* line 10, _category.scss */
.catalog-listing .listing-item .product-image img {
  margin: 0 auto 10px auto;
}
/* line 14, _category.scss */
.catalog-listing .listing-item .product-image a {
  text-decoration: none;
}
/* line 17, _category.scss */
.catalog-listing .listing-item .product-image a:hover {
  text-decoration: underline;
}

/* line 25, _category.scss */
.category-products .products-grid {
  list-style-type: none;
  padding: 0px;
  width: 100%;
  margin: 0 -15px;
}
/* line 32, _category.scss */
.category-products .products-grid .product-name a {
  text-decoration: none;
}
/* line 35, _category.scss */
.category-products .products-grid .product-name a:hover {
  text-decoration: underline;
}
/* line 40, _category.scss */
.category-products .products-grid .item {
  float: left;
}
/* line 43, _category.scss */
.category-products .products-grid .item img {
  width: 100%;
  border: 1px solid #d4d4d4;
  margin-bottom: 10px;
}
/* line 49, _category.scss */
.category-products .products-grid .price-box {
  color: #1b75bb;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 10px;
}
/* line 57, _category.scss */
.category-products .products-grid .actions button {
  margin-bottom: 10px;
}
/* line 60, _category.scss */
.category-products .products-grid .actions .add-to-links {
  padding-left: 0px;
  list-style-type: none;
}
/* line 64, _category.scss */
.category-products .products-grid .actions .add-to-links a {
  text-decoration: none;
}
/* line 67, _category.scss */
.category-products .products-grid .actions .add-to-links a:hover {
  text-decoration: underline;
}
/* line 74, _category.scss */
.category-products .products-list {
  list-style-type: none;
}
/* line 79, _category.scss */
.category-products .products-list .product-name a {
  text-decoration: none;
  font-size: 22px;
}
/* line 83, _category.scss */
.category-products .products-list .product-name a:hover {
  text-decoration: underline;
}
/* line 89, _category.scss */
.category-products .products-list .price-box {
  color: #1b75bb;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 10px;
}
/* line 96, _category.scss */
.category-products .products-list .add-to-links {
  padding-left: 0px;
  list-style-type: none;
}
/* line 100, _category.scss */
.category-products .products-list .add-to-links a {
  text-decoration: none;
}
/* line 103, _category.scss */
.category-products .products-list .add-to-links a:hover {
  text-decoration: underline;
}

/* line 1, _sidebar.scss */
.left-col-content {
  float: right;
}

/* line 6, _sidebar.scss */
.left-sidebar .category-list {
  margin-bottom: 25px;
}
/* line 9, _sidebar.scss */
.left-sidebar .category-list ol {
  list-style-type: none;
}
/* line 12, _sidebar.scss */
.left-sidebar .category-list ol li {
  margin-bottom: 5px;
}
/* line 15, _sidebar.scss */
.left-sidebar .category-list ol li a {
  text-decoration: none;
}
/* line 18, _sidebar.scss */
.left-sidebar .category-list ol li a:hover {
  text-decoration: underline;
}

/* line 27, _sidebar.scss */
.wp-sidebar {
  margin-top: 24px;
}
/* line 29, _sidebar.scss */
.wp-sidebar ul {
  padding: 0px;
  list-style-type: none;
}
/* line 33, _sidebar.scss */
.wp-sidebar a {
  text-decoration: none;
  font-style: normal;
}
/* line 37, _sidebar.scss */
.wp-sidebar a:hover {
  text-decoration: underline;
}

/* line 1, _footer.scss */
footer {
  width: 100%;
  padding: 50px 0;
  background: #58585b;
  color: white;
}
/* line 7, _footer.scss */
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: white;
  margin: 0 0 15px 0;
}
/* line 12, _footer.scss */
footer h2 {
  font-size: 18px;
}
/* line 16, _footer.scss */
footer ul {
  list-style-type: none;
}
/* line 20, _footer.scss */
footer a {
  text-decoration: none;
  color: white;
}
/* line 24, _footer.scss */
footer a:hover {
  text-decoration: underline;
  color: #1b75bb;
}
/* line 30, _footer.scss */
footer .social {
  float: left;
}
/* line 33, _footer.scss */
footer .social ul {
  list-style-type: none;
  padding: 0px;
}
/* line 37, _footer.scss */
footer .social ul li {
  margin-right: 10px;
  float: left;
}
/* line 41, _footer.scss */
footer .social ul li a {
  color: whitesmoke;
}
/* line 44, _footer.scss */
footer .social ul li a:hover {
  color: #3ecd8e;
}
/* line 52, _footer.scss */
footer .copyright {
  margin-top: 25px;
  font-size: 12px;
}

@media all and (max-width: 991px) {
  /* line 6, _media.scss */
  .left-sidebar-content {
    float: none;
  }
}
@media all and (min-width: 767px) {
  /* line 12, _media.scss */
  .navbar-collapse.collapse {
    padding: 0px;
  }
}
@media all and (max-width: 767px) {
  /* line 15, _media.scss */
  .navbar-collapse.in {
    overflow: visible;
  }

  /* line 18, _media.scss */
  .navbar-nav {
    float: none;
  }

  /* line 21, _media.scss */
  header .header-container .nav-container li {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
  }

  /* line 27, _media.scss */
  header .header-container .nav-container li a {
    padding: 5px;
  }

  /* line 28, _media.scss */
  .nav > li > a {
    padding: 5px;
  }

  /* line 29, _media.scss */
  .nav-tabs li a {
    font-size: 13px;
  }

  /* line 30, _media.scss */
  .cms-index-index .home-page-content .home-testimonials {
    font-size: 18px;
  }

  /* line 31, _media.scss */
  header nav li a {
    width: 100%;
  }
}
@media all and (max-width: 520px) {
  /* line 34, _media.scss */
  .nav-tabs > li {
    float: none;
  }

  /* line 35, _media.scss */
  #checkoutSteps li .step-title h2 {
    font-size: 18px;
    margin-left: 15px;
  }

  /* line 39, _media.scss */
  #checkout-progress-wrapper .block-title strong span {
    font-size: 18px;
  }

  /* line 40, _media.scss */
  #checkoutSteps li .step-title .number,
  #checkoutSteps li .step-title a {
    display: none;
  }
}
